@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #222624;
    --secondary-color: #2EC68F;
    --light-color: #ffffff;


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Hero */
.hero {
    position: relative;
    height: 700px;
    
}

.hero .container {
    text-align: center;
}

.hero .container .logo {
    width: 200px;
}

.hero .grid {
    overflow: visible;
    margin-top: 140px;
    gap: 50px;
    align-items: flex-start;
}

.hero .hero-left {
    text-align: left;
}

.hero-left .hero-header-text {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 66px;
    letter-spacing: -0.07em;
    padding-bottom: 10px;
}

.hero-left .hero-header-text::after {
    content: "";
    display: block;
    width: 330px;
    height: 10px;
    background-color: var(--secondary-color);
    margin-top: 10px;
}

.hero-left p {
    width: 470px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.07em;
}

.hero .hero-right {
    text-align: center;
}

.hero-right h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hero-left h3, p {
    text-transform: capitalize;
}

.countDownTimer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.countDownTimer .timer {
    padding: 0 5px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
}

.countDownTimer .timer h3 {
    font-weight: bold;
    line-height: 48px;
    font-size: 39.3195px;
    color: var(--secondary-color);
}

.countDownTimer .timer p {
    line-height: 40px;
}

.hero .hero-right img {
    width: 450px;
}

.hero .email-input {
    width: 450px;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.hero .email-input .email-feed {
    width: 80%;
    height: 100%;
    padding: 5px;
    background: transparent;
    color: white;
    border: none;
}

input:focus {
    outline: none;
}

/* Detect Sound */
.detect-sound {
    position: relative;
    padding-top: 400px;
}

.detect-sound .bg-img {
    width: 420px;
    top: 350px;
    left: 0;
}

.detect-sound .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.grid-right .p-text {
    margin: auto;
}

/* Listen To Sound */
.converts-sounds .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.listen-to-sound .img-container::before, 
.listen-to-sound .img-container::after {
    top: 50%;
}

.grid-left .p-text {
    margin: auto;
}

.listen-to-sound .grid-right {
    text-align: center;
}

/* Converts Sound */
.converts-sounds .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.converts-sounds .img-container::before, 
.converts-sounds .img-container::after {
    top: 50%;
}

.grid-right .p-text {
    margin: auto;
}

/* Create Avatar */
.create-avatar .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.create-avatar .img-container::before, 
.create-avatar .img-container::after {
    top: 50%;
}

.grid-left .p-text {
    margin: auto;
}

/* Preview Simulation */
.preview-simulation {
    position: relative;
}

.preview-simulation .img-container::before, 
.preview-simulation .img-container::after {
    top: 46%;
}

.preview-simulation .bg-img {
    width: 520px;
    top: -250px;
    left: 50px;
}

.preview-simulation .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.grid-right .p-text {
    margin: auto;
}

/* Save-Share-Connect */
.save-share-connect {
    position: relative;
}

.save-share-connect .img-container::before, 
.save-share-connect .img-container::after {
    top: 45%;
}

.save-share-connect .bg-img {
    top: -250px;
    right: 0;
}

.save-share-connect .grid {
    margin-top: 50px;
    align-items: flex-start;
}

.grid-left .p-text {
    margin: auto;
}

/* Newsletter */
.newsletter {
    margin-top: 50px;
    position: relative;
    height: 500px;
    background-image: url(/assets/images/back\ logo.png);
    background-size: 30%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.newsletter .container .header-text {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
}

.newsletter .container .text-secondary {
    font-size: 30px;
    line-height: 25px;
}

.newsletter .email-input {
    position: relative;
    width: 600px;
    height: auto;
    margin: auto;
    z-index: 100;
}

.newsletter .email-input .email-feed {
    width: 75%;
    height: 100%;
    background: transparent;
    padding: 5px;
    border: none;
}

.newsletter .email-input .btn {
    width: 25%;
    height: 100%;
    text-align: center;
}

.newsletter .overlay {
    padding: 15px 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
}

.newsletter .bg-img {
    left: 0;
    bottom: 0;
    z-index: 5;
}

.newsletter .social-media-links {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    height: 60px;
    background: rgba(196, 196, 196, 0.4);
    backdrop-filter: blur(40px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-links a {
    padding: 2px;
    margin: 0 30px;
    color: var(--secondary-color);
}

.newsletter .copyright-text {
    position: absolute;
    right: 45%;
    bottom: 10px;
    color: var(--light-color);
    z-index: 50;
}